<% user = User.find(@user_id) %>
<div class="container">
<h4>Messaging</h4>
<br>
<!-- Broadcast messages 
<div id="messages"> </div>-->
<div class="messaging">
      <div class="inbox_msg">
        <div class="inbox_people">
          <div class="headind_srch">
            
            <%= form_for conversation_messages_path, method: :get, role: "search", id: "search-messages", remote: true do %>
              <div class="stylish-input-group">
              <%= text_field_tag :message_term, params[:message_term], class: "form-control search-bar", placeholder: "Search", autocomplete: "off" %>
              <span class="input-group-addon">
                <button type="button"> <i class="fa fa-search" aria-hidden="true"></i></button>
              </span>
              </div>
            <% end %>

          </div>
          <div class="inbox_chat">

            <% @conversations.each do |conversation| %>
              <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
              <% if conversation.sender_id == current_user.id %>
                <% recipient = User.find(conversation.recipient_id) %>
              <% else %>
                <% recipient = User.find(conversation.sender_id) %>
              <% end %>

              <div class="chat_list active_chat">
                <div class="chat_people">
                  <div class="chat_img">
                    <%= image_tag avatar_url(recipient), class: "card-type-icon with-border material-icons" %>
                  </div>
                  <div class="chat_ib">
                    <h5><%= link_to recipient.name, conversation_messages_path(conversation)%>
                    
                    <span class="chat_date"><%= recipient.created_at.strftime("%b %d, %Y %I:%M %p") %></span></h5>
     
                  </div>
                </div>
              </div>
            <% end %>
            <% end %>

          </div>
        </div>

        <!-- Messages box -->
        <div class="mesgs">
          <div class="msg_history", id="msg_history">
            <div id="messages">
              <% @messages.each do |message| %>
                <% if message.body %>
                <% user = User.find(message.user_id) %>

                  <% if message.user != current_user %>
                    <div class="incoming_msg">
                      <div class="incoming_msg_img"> <%= image_tag avatar_url(user), class: "card-type-icon with-border material-icons" %> </div>
                        <div class="received_msg">
                          <div class="received_withd_msg">
                            <p><%= message.body %></p>
                            <span class="time_date"><%= message.created_at.strftime("%b %d, %Y %I:%M %p") %></span>
                          </div>
                        </div>
                    </div>
                  <% end %>  

                  <% if message.user == current_user %>
                  <div class="outgoing_msg">
                    <div class="sent_msg">
                      <p><%= message.body %></p>
                      <span class="time_date"><%= message.created_at.strftime("%b %d, %Y %I:%M %p") %></span> 
                    </div>
                  </div>
                  <% end %>

                <% end %>
              <% end %>
            </div>
          </div>

          <!--AJAX FORM IS SUBMITING HERE-->
        <div class="type_msg">
          <div class="input_msg_write">
    <!--<p><h6>Message To:</h6><b><%= Conversation.find(params[:conversation_id]).recipient.name %></b></p>-->

    <%= form_with(model: [@conversation, @message], id: "new-message", local: false) do |f| %>
        <%= f.text_field :body, class: "write_msg" %>
        <%= f.text_field :user_id, value: current_user.id, type: "hidden", required: true %>
       <!-- <%= f.submit "Send Reply", class: "btn msg_send_btn"%> -->
        <button class="msg_send_btn" type="submit"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
    <% end %>
    
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
