<% user_id = Conversation.find(params[:conversation_id]).recipient_id %>
<% user = User.find(user_id) %>
<div class="container">
<br>
<h2>{ <%= user.name %> } messages inbox</h2>
<!--AJAX ID HERE-->
<div class="form-control">
<div id="results">
  <% @messages.each do |message| %>
    <% if message.body %>
      <% user = User.find(message.user_id) %>
         <div class="row">  
           <b><%= user.name %></b> |<%= message.created_at %>
           <%= message.body %> 
          </div>
      <% end %>
  <% end %>
</div>
</div>
<br>

<!--AJAX FORM IS SUBMITING HERE-->
<div class="form-control">
<p><h6>Message To:</h6><b><%= Conversation.find(params[:conversation_id]).recipient.name %></b></p>
    <%= form_with(model: [@conversation, @message], id: "new-message", local: false) do |f| %>
      <div class="form-group">
        <%= f.text_area :body, class: "form-control"  %>
      </div>
      <div class="form-group">
        <%= f.text_field :user_id, value: current_user.id, type: "hidden", required: true %>
      </div>  
      <div class="form-group">
        <%= f.submit "Send Reply", class: "btn btn-success"%>
      </div>
    <% end %>
</div>
</div>