<br>
<div class="d-flex flex-column">
  <div class="col-xl-12 col-lg-8 col-md-10 col-sm-11 post-card">
    <!--Post Form-->
    <div class="card">
      <div class="card-header">
        <b>Select colmuns for your module:</b>
      </div>
      <div class="card-body">
        <%= form_for @column, :html => { :multipart => true, :remote=>true } do |f| %>

          <div id="alert_message">
          </div>
          
          <div class="form-group row mt-2">
            <div class="col pl-0">
              <%= f.text_field :name, class: "form-control border-0", autocomplete:"off", required: "true", placeholder: "Name of the field" %>
            </div>
          </div>

          <div class="form-group row mt-2">
            <div class="col pl-0">
              <%= f.text_field :column_type, class: "form-control border-0", required: "true", placeholder: "Field Data Type" %>
            </div>
          </div>

          <div class="form-group row mt-2">
            <div class="col pl-0">
              <%= f.text_field :tag, class: "form-control border-0", required: "true", placeholder: "Select Tag"%>
            </div>
          </div>
      
          <div class="form-group row mt-2">
          <%= f.submit "Submit", class: "btn btn-success form-control border-0" %>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</div>