<div class="container">
<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<script>
  window.console = window.console || function(t) {};
</script>

<script>
  if (document.location.search.match(/type=embed/gi)) {
    window.parent.postMessage("resize", "*");
  }
</script>
</head>

<br>
<br>
<h4>Your Notifications</h4>
<hr>

<% @current_user_posts.map do |post| %>
  <!-- From post to like-->
  <% post.likes.map do |like| %>

<div class="border-card">

<div class="card-type-icon with-border"><%= like.id %></div>

<div class="content-wrapper">

<div class="label-group fixed">
    <!-- user who liked the post -->
    <p class="title">Name: <%= like.post.user.email %></p>
    <p class="caption">Email: <%= like.post.user.name %></p>
</div>
<div class="min-gap"></div>
<div class="min-gap"></div>

<div class="label-group">
    <!-- which post user liked -->
    <p>Claped on your module:</p>
    <p class="title">Post: <%= like.post.content %></p>
    <p class="caption">Date: <%= like.created_at %></p>
</div>

<div class="min-gap"></div>

<div class="label-group">
    <p class="title">Programming Language used:</p>
    <% if like.post.languages %>
    <p class="caption"><%= like.post.languages.map {|l| l.name} %></p>
    <% else %>
    <p class="caption">nil</p>
    <% end %>
    <p>Clap Count: <%= post.likes.count %></p>
</div>

</a>
</div>

<i class="material-icons end-icon">more_vert</i>
</div>

<% end %>
<% end %>

<h4>BOOKMARK NOTIFICATIONS</h4>
<hr>

<% @current_user_posts.map do |post| %>
  <% post.bookmarks.map do |bookmark| %>

<div class="border-card" draggable=true>
<div class="card-type-icon with-border"><i class="material-icons">insert_drive_file</i></div>

<div class="content-wrapper">

<div class="label-group">
<p class="title"><%= bookmark.post.user.email %></p>
<p class="caption">Bookmarked your post of <%= bookmark.post.content %> </p>
</div>

</div>

<i class="material-icons">more_vert</i>
</div>

<% end %>
<% end %>
<h4>You Got Message</h4>
 <hr>
<% @messages_from_user.map do |m| %>
  <div class="border-card" draggable=true>
  <%= image_tag avatar_url(m.user), class: "card-type-icon with-border material-icons" %>

      <div class="content-wrapper">
        <div class="label-group">
        <p class="title"><%= m.user.name %></p>
          <p class="title"><%= m.body %></p>
          <p class="caption"><%= m.created_at %></p>
        </div>
      </div>
    <i class="material-icons">visit</i>
  </div>
<% end %>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>

<script id="rendered-js">
      $('.droppable').bind('dragover', function (e) {
  $(this).addClass('over');

  if (e.originalEvent.preventDefault)
  e.preventDefault();

  e.originalEvent.dataTransfer.dropEffect = 'copy';
  return false;
});


$('.droppable').bind('dragenter', function (e) {
  $(this).addClass('over');
});

$('.droppable').bind('dragleave', function (e) {
  $(this).removeClass('over');
});


$('.droppable').bind('drop', function (e) {
  $(this).removeClass('over');

  if (e.originalEvent.stopPropagation)
  e.originalEvent.stopPropagation();

  var stuff = $(e.originalEvent.dataTransfer.getData('stuff'));
  stuff.appendTo(this);
  return false;
});
</script>

</div>