<div class="container">
  <div class="row">
    <div class="col-lg-4">
     
    </div>

    <div class="col-lg-6 landing-right text-center d-flex align-items-center forgot-password"> 
      <div>
      <div class="form-login box">
        <h5 class="light-color"><strong>Forgot your password?</strong></h5> 
         
         <hr>

          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <%= devise_error_messages! %>

              <div class="form-group">
                <%= f.email_field :email, placeholder: "Email", class: "form-control"%>
              </div>
              <br>
              <div class="form-group">
               <%= f.submit "Send reset password instructions", class: "btn btn-dark" %>
              </div>
          <% end %>

            <br>
             </div>
            <div class="redirect-links box">
              <%= render "devise/shared/links" %>
            </div>
    </div>
   </div>
 </div>
</div>