<!--Footer start-->
<section id="footer" class="section footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-12">
              <div class="footer-logo">
                 <a href="index.html">Londevs.com</a>
              </div>
              <div class="contact-info">
                 <p>
                    Speed up your development with high quality modules. 
                 </p>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-12">
               <div class="single-footer f-link">
                    <h5>Quick menu</h5>
                    <ul>
                        <li><%= link_to "About Us", pages_about_path %></li>
                        <li><%= link_to "Terms", pages_terms_path %></li>
                        <li><%= link_to "Privacy", pages_privacy_path %></li> 
                        <li><a href="https://londevs.com/services.html">Services</a></li>
                        <li><%= link_to "Contact us", contact_path %></li> 

                        <!--<li><a href="https://ai.londevs.com/pages/contact_get">Contact us</a></li>-->
                    </ul>
               </div>
            </div>
            <div class="col-lg-3 col-md-3 col-12">
                <div class="single-footer f-link">
                  <h5>Featured links</h5>
                    <ul>
                    <li><%= link_to "Documentation", pages_help_path, :class => "nav-item" %></li>     
                        <li class="nav-item"><a href="#">Search For Modules</a></li>
                        <li class="nav-item"><a href="#">Blog</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-12">
                <div class="single-footer f-contact">
                  <h5>Keep in touch</h5>
                  <div class="contact-info">
                     <p>
                      Need help to develop your software contact
                    </p>
                  </div>
                  <p>
                     +44-7341206839
                  </p>
                  <p>
                     <a href="mailto:pradeep.rao@londevs.com">pradeep.rao@londevs.com</a>
                  </p>
                    <ul class="footer-social">
                        <li><a href="https://www.facebook.com/LonDevs-108128748163900"><i class="lni lni-facebook-filled"></i></a></li>
                        <li><a href="https://www.instagram.com/londevscom/"><i class="lni lni-instagram-original"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/londev"><i class="lni lni-linkedin-original"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="text-center copyright">2023 Londevs.com</p>
            </div>
        </div>
    </div>
</section>
<!--Footer end-->