  <nav class="navbar navbar-expand-lg navbar-light navbar-fixed-top">
    <div class="container">
    <style>
     .head-color {
       color: black;
     }
    </style>
       <h4><%= link_to "LonDevs.com", root_path, :class => "nav-link head-color" %></h4>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
        <%= form_tag users_path, method: :get, class: "form-inline my-2 my-lg-0 ml-md-auto", id: "users-search", remote: true do %>
          <%= text_field_tag :term, params[:term], class: "form-control mr-sm-2 text-center common-btn", 
          placeholder: "Search", autocomplete: "off" %>
          <div id="users-result"></div>
        <% end %>
        <ul class="navbar-nav ml-md-auto">
          <li class="nav-item">
            <%= link_to "Modules", root_path, :class => "nav-link" %>
          </li>
          
          <li class="nav-item">
            <%= link_to "Create Frontend", module_path, :class => "nav-link", :disabled => "disabled" %>
          </li>

          <li class="nav-item">
            <%= link_to "Create Backend(B)", backends_backend_module_path, :class => "nav-link", :disabled => "disabled" %>
          </li>

          <!-- data-toggle="popover" -->

          <button type='button' class='btn btn-secondary' data-container='body' data-toggle='popover' data-placement='bottom' data-html='true' data-content='<%= render 'notifications/notifications' %>' >
            Notification
          </button>

          <li class="nav-item">
            <%= link_to get_notification_path, :class => "nav-link"  do %><span class="fa fa-bell"></span><% end %>
          </li> 

          <li class="nav-item">
            <%= link_to "Messages", conversations_path, :class => "nav-link" %>
          </li>

          <li class="nav-item">
            <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => "nav-link" %>
          </li>

          <li class="nav-item">
            <b><%= link_to current_user.name, user_path(current_user.id), method: :get, :class => "nav-link" %></b>
          </li>

          <div class="text-end">
            <%= image_tag avatar_url(current_user), class: "card-type-icon with-border material-icons rounded-circle" %>
          </div>
        </ul>
      </div>
  </div>
</nav>