<nav class="navbar bg-body-tertiary fixed-top">
    <b><%= link_to "OpenSnip", root_path, :class => "navbar-brand" %></b>
  <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasNavbarLabel">OpenSnip</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
        
      <li class="nav-item">
      <% if params[:controller] == "posts" && params[:action] == "index" %>
        <%= link_to "Modules", root_path, :class => "nav-link active" %>
      <% else %>
        <%= link_to "Modules", root_path, :class => "nav-link" %>
      <% end %>
      </li>

      <li class="nav-item">
      <% if params[:controller] == "posts" && params[:action] == "module_post" %>
        <%= link_to "Frontend", module_path, :class => "nav-link active", :disabled => "disabled" %>
      <% else %>
        <%= link_to "Frontend", module_path, :class => "nav-link", :disabled => "disabled" %>
      <% end %> 
      </li>
        
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <%= current_user.name %>
        </a>
        <ul class="dropdown-menu">
            <% if params[:controller] == "notifications" %>
              <li><%= link_to get_notification_path, :class => "active dropdown-item"  do %>Notification<% end %></li>
            <% else %>
              <li><%= link_to get_notification_path, :class => "dropdown-item"  do %>Notification<% end %></li>
            <% end %>

            <li>
            <% if params[:controller] == "posts" && params[:action] == "module_post" %>
              <%= link_to conversations_path, :class => "dropdown-item active"  do %>Messages<% end %>
            <% else %>
              <%= link_to conversations_path, :class => "dropdown-item"  do %>Messages</span><% end %>
            <% end %>   
            </li>  
          <li><hr class="dropdown-divider"></li>
          <li>
          <%= link_to "Logout", destroy_user_session_path, :class => "dropdown-item" %>
          </li>          
        </ul>
        </li>

      </ul>

      <%= form_tag users_path, method: :get, class: "d-flex mt-3", role: "search", id: "users-search", remote: true do %>
        <%= text_field_tag :term, params[:term], class: "form-control me-2", placeholder: "Search", autocomplete: "off" %>
        <button class="btn btn-outline-success" type="submit">Search</button>
        <div class="row">
        
        </div>
      <% end %>
      <div id="users-result"></div>
    </div>
</div>
</nav>