<style>
.card{
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    cursor: pointer;
}
.card:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
</style>
<div class="row">
<% for post in @posts %>
  <div class="col-md-4">
  <div class="card mt-3 posts">
    <div class="card-header d-flex align-items-center">
      <%= link_to user_path(post.user), class: "no-text-decoration" do %>
        <%= image_tag avatar_url(post.user), class: "post-author-icon" %>
      <% end %>
      <%= link_to user_path(post.user), class: "normal-color no-text-decoration name-color", title: post.user.name do %>
          <strong><%= post.user.name %></strong>
      <% end %>  
      <%= link_to post_path(post), method: :delete, data: { confirm: 'Are you sure you want to delete this?' }, class: "ml-auto delete-post-icon mx-0 my-auto" do %>
        <i class="far fa-trash-alt" aria-hidden="true"></i>
      <% end %>
    </div>
    <%= link_to post_path(post) do %>
    <%= render "photos", {post: post} %>
    <% end %>

      <div class="card-body">
        <div class="row actions">
          <!-- Likes button render -->
          <div id="like-post-<%= post.id.to_s %>">
            <%= render "like", {is_liked: post.is_liked(current_user), post: post} %>
          </div>

          <div id="bookmark-icon-post-<%= post.id.to_s %>", class="ml-auto">
            <%= render "bookmark_icon", {is_bookmarked: post.is_bookmarked(current_user), post: post} %>
          </div>
        </div>
        <!-- Likes Text -->
        <div id="like-text-post-<%= post.id.to_s %>">
          <%= render "like_text", {likes: post.likes} %>
        </div>
        <div>
          <span><strong> <%= post.user.name %> </strong></span>
          <span><%= post.content %></span> 
        </div>
        
        <%= link_to time_ago_in_words(post.created_at).upcase + " AGO", post_path(post),
        class: "light-color post-time no-text-decoration" %>
      </div>
      
  </div>
  </div>

<% end %>
</div>