<div class="d-flex flex-column">
  <div class="col-xl-12 col-lg-8 col-md-10 col-sm-11 post-card">
    <!--Post Form-->
    <div class="card">
      <div class="card-header">
        Post your module
      </div>
      <div class="card-body">
        <%= form_for @post, :html => { :multipart => true } do |f| %>
          <div class="form-group row mt-2">
            <div class="col-auto pr-0">
               <%= image_tag avatar_url(current_user), class: "post-author-icon" %>
            </div>
            <div class="col pl-0">
              <%= f.text_field :content, class: "form-control border-0", 
              placeholder: "Title of your module" %>
            </div>
          </div>
          
          <center>
          <div class="fileUpload btn btn-danger">
            <span>UPLOAD SNAPSHOT</span>
            <div class="fallback">
                <%= file_field_tag "images[]", type: :file, multiple: true, class: "upload form-control border-0", id: "file" %>
            </div>
            <!--SHOW RESULT HERE-->
          </div>
          <p id="fp"></p>
          <p><input type="button" value="Show Details" onclick="FileDetails()"  class="btn btn-primary"></p>
          </center>

          <div class="form-group row mt-2">
            <div class="col">
            <h6>HTML/JAVASCRIPT</h6>
            <%= f.text_area :frontend, style: "white-space: pre-wrap;", class: "codemirror-textarea form-control border-0"%>
            </div> 
          </div>

          <div class="form-group row mt-2">
            <div class="col">
            <h6>CSS</h6>
            <%= f.text_area :frontend_css, style: "white-space: pre-wrap;", class: "code-textarea form-control border-0"%>
            </div>
          </div>

          <div class="form-group row mt-2">
            <div class="col">
            <h6>BACKEND</h6>
            <%= f.text_area :backend, style: "white-space: pre-wrap;", class: "code-backend form-control border-0"%>
            </div>
          </div>

          <div class="form-group row mt-2">
            <div class="col">
            <h6>INSTRUCTIONS</h6>
            <%= f.text_area :instruction, rows: "10", style: "white-space: pre-wrap;", class: "form-control border-0"%>
            </div>
          </div>
      
          <div class="form-group row mt-2">
          <%= f.submit "Submit", class: "btn btn-success form-control border-0" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>