<br>
<style>
.card{
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    padding: 14px 80px 18px 36px;
    cursor: pointer;
}
.card:hover{
     transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
</style>

<div class="container">
 <div class="d-flex flex-column">
  <div class="col-xl-12 col-lg-8 col-md-10 col-sm-11 post-card">
    <!--Post Form-->
  <div class="card-header">
    <b>Post your frontend module:</b>
  </div>
    <div class="card">
    
      <div class="card-body">
        <%= form_for @post, :html => { :multipart => true, :remote=>true } do |f| %>
          <div id="alert_message">
          </div>
          <div class="form-group row mt-2">
            <div class="col-auto pr-0">
               <%= image_tag avatar_url(current_user), class: "post-author-icon" %>
            </div>
            <div class="col pl-0">
              <%= f.text_field :content, rows: "5", class: "form-control border-0", autocomplete:"off", required: "true", 
              placeholder: "Title of your module" %>
            </div>
          </div>
          
          <center>
          <div class="fileUpload btn btn-danger">
            <span>UPLOAD SNAPSHOT</span>
            <div class="fallback">
                <%= file_field_tag "images[]", type: :file, multiple: true, class: "upload form-control border-0", id: "file", required: "true" %>
            </div>
            <!--SHOW RESULT HERE-->
          </div>
          <p id="fp"></p>
          <p><input type="button" value="Show Details" onclick="FileDetails()"  class="btn btn-primary"></p>
          </center>

          <div class="form-group row mt-2">
            <div class="col">
            <h6>HTML</h6>
            <%= f.text_area :frontend, style: "white-space: pre-wrap;", class: "codemirror-textarea form-control border-0"%>
            </div> 
          </div>

          <div class="form-group row mt-2">
            <div class="col">
            <h6>CSS</h6>
            <%= f.text_area :frontend_css, style: "white-space: pre-wrap;", class: "code-textarea form-control border-0"%>
            </div>
          </div>

          <div class="form-group row mt-2">
            <div class="col">
            <h6>JAVASCRIPT</h6>
            <%= f.text_area :javascript, style: "white-space: pre-wrap;", class: "code-backend form-control border-0"%>
            </div>
          </div>

          <!-- <div class="form-group row mt-2">
            <div class="col">
            <h6>BACKEND</h6>
            <%= f.text_area :backend, style: "white-space: pre-wrap;", class: "code-backend-2 form-control border-0"%>
            </div>
          </div> -->

          <div class="form-group row mt-2">
            <div class="col">
            <h6>INSTRUCTIONS</h6>
            <%= f.text_area :instruction, rows: "10", style: "white-space: pre-wrap;", class: "form-control border-0", required: "true" %>
            </div>
          </div>

         <div class="form-group row mt-2">
            <div class="col">
            <h6>Select Tags</h6>
            <%= f.select(:tags_id, Tag.all.collect {|t| [ t.name, t.id ] }, { :prompt => "Please select tag for your module"}, { :multiple => true, :size => 5  }) %>
            </div>
          </div>
      
          <div class="form-group row mt-2">
          <%= f.submit "Submit", class: "btn btn-success form-control border-0", data: { disable_with: "Loading..." }%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>