 <div class="row justify-content-md-center saved-wrapper">
 <div id="wrapper" class="col-md-6">
<!-- Nav tabs -->
<ul id="codes" class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active">
    <a href="#tab-1-content" aria-controls="home" role="tab" data-toggle="tab">Tab 1</a></li>
  <li role="presentation">
    <a href="#tab-2-content" aria-controls="profile" role="tab" data-toggle="tab">Tab 2</a
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="tab-1-content">
    <pre class="prettyprint linenums lang-java">
  // Everything is controlled with id="codes"
  // lang-java class is added to &lt;pre&gt; to read # tag
  &lt;ul id="codes" class="nav nav-tabs" role="tablist"&gt;
    .......
  &lt;/ul&gt;
  //@Override prettyprint with custom colours
  //Change the colour codes of the codes in here.
  pre .str { color: #fdb839; } /* string   */
  pre .kwd { color: #fdb839; }
  pre .com { color: #B3B3B3; } /* comment  */
  pre .typ { color: #fdb839; } /* type     */
  pre .lit { color: #cd5c5c; } /* literal  */
  pre .pun { color: #fdb839; } /* punctuation */
  pre .pln { color: #fdb839; } /* plaintext */
  pre .tag { color: #fdb839; } /* html/xml tag     */
  pre .atn { color: #bdb76b; } /* attribute name   */
  pre .atv { color: #fdb839; } /* attribute value  */
  pre .dec { color: #fdb839; } /* decimal          */
    </pre>
</div>
    <div role="tabpanel" class="tab-pane" id="tab-2-content">
      <pre class="prettyprint linenums lang-java">
  // To show line numbers add linenums class to &lt;pre&gt;
  // Change the line border color 
  .linenums li{
     border-left: 1px solid colour;
  }
  
  
  


    
  
  
  
  
  
  
  
      </pre>
    </div>
  </div>
</div>

<div class="d-flex flex-column align-items-center mt-3">
 <div class="row posts box col-xl-10 col-lg-11 col-xs-12">
    <div class="col-lg-8 col-md-7 px-0 d-flex post-show-img">
        <!-- Render Photos  -->
        <div class="align-self-center ">
          <%= render "photos", {post: @post} %>
        </div>
    </div>

    <div class="col-lg-4 col-md-5 mt-sm-4 mt-md-0">
       <div class="row px-3">
         <%= link_to user_path(@post.user), class: "no-text-decoration" do %>
            <%= image_tag avatar_url(@post.user), class: "post-author-icon" %>
         <% end %>
         <%= link_to user_path(@post.user), class: "normal-color no-text-decoration d-flex align-self-center", 
         title: @post.user.name do %>
         <strong><%= @post.user.name %></strong>
         <% end %>
          <%= link_to post_path(@post), method: :delete, class: "ml-auto delete-post-icon mx-0 my-auto" do %>
            <i class="far fa-trash-alt" aria-hidden="true"></i>
          <% end %>
       </div>

        <hr class="mb-0">

        <div class="comment-list py-2">
          <% if @post.content.present? %> 
            <div>
              <span><strong><%= @post.user.name %></strong></span>
              <span><%= @post.content %></span>
            </div>
          <% end %>
          <br>
          <!-- Comment -->
          <div id="comment-post-<%= @post.id.to_s %>">
            <%= render "comment_list", {post: @post} %>
          </div>
        </div>  

        <hr class="mt-0">
            <div class="row actions">
              <!-- Likes button render -->
             <div class="like-post-<%= @post.id.to_s %>">
               <%= render 'like', {is_liked: @is_liked, post: @post} %>
             </div>

              <a href="#" class="comment"><i class="far fa-comment fa-2x"></i></a>

              <div id="bookmark-icon-post-<%= @post.id.to_s %>" class="ml-auto">
                 <%= render "bookmark_icon", {is_bookmarked: @is_bookmarked, post: @post}  %>
              </div>
              
            </div>

            <!-- Likes Text -->
            <div id="like-text-post-<%= @post.id.to_s %>">
              <%= render "like_text", {likes: @likes} %>
            </div>

            <div class="light-color post-time"><%= time_ago_in_words(@post.created_at).upcase %> AGO </div>
            <hr>
            <div class="row actions" id="comment-form-post-<%= @post.id.to_s %>">
              <%= render "comments", {post: @post} %>
            </div>
    </div>
  </div>
</div>