<!DOCTYPE html>
<html>
  <head>
    <title>Share Your Module</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', async: true %>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.47.0/codemirror.css">
  </head>

  <body>

  <%= render "shared/navbar" if current_user %>
  <%= render "shared/navbarg" if !current_user %>
   
    <%= yield %>

   <!-- Hotjar Tracking Code for ai.londevs.com -->
    <script type="text/javascript">
        
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:2603649,hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');

    </script>

   <script type="text/javascript">
   function FileDetails() {

       // GET THE FILE INPUT.
       var fi = document.getElementById('file');

       // VALIDATE OR CHECK IF ANY FILE IS SELECTED.
       if (fi.files.length > 0) {

           // THE TOTAL FILE COUNT.
           document.getElementById('fp').innerHTML =
               'Total Files: <b>' + fi.files.length + '</b></br >';

           // RUN A LOOP TO CHECK EACH SELECTED FILE.
           for (var i = 0; i <= fi.files.length - 1; i++) {

               var fname = fi.files.item(i).name;      // THE NAME OF THE FILE.
               var fsize = fi.files.item(i).size;      // THE SIZE OF THE FILE.

               // SHOW THE EXTRACTED DETAILS OF THE FILE.
               document.getElementById('fp').innerHTML =
                   document.getElementById('fp').innerHTML + '<br /> ' +
                       fname + ' (<b>' + fsize + '</b> bytes)';
           }
       }
       else { 
           alert('Please select a file.') 
       }
   }
   </script> 

   <% if flash.any? %>
      <script type="text/javascript">
        <% flash.each do |key, value| %>
          <% type = key.to_s.gsub('alert', 'error').gsub('notice', 'success') %>
          toastr.<%= type %>('<%=  value %>')
        <% end %>
      </script>
   <% end %>
   <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-T9C631XPTN"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-T9C631XPTN');
  </script>
   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.47.0/codemirror.js"></script>
   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.47.0/mode/htmlmixed/htmlmixed.js"></script>
   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.41.0/mode/xml/xml.js"></script>
   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.41.0/mode/javascript/javascript.js"></script>
   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.47.0/mode/css/css.js"></script>
   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.0/mode/ruby/ruby.js"></script>
   <%= render "shared/footer" %>
  </body>
</html>
