<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Meta Tag -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name='copyright' content="Low cost information technologies services in europe based in united kingdom" name="description">
        <meta content="Development, CSS, HTML, RUBY, Python, Ruby on Rails, MySql, PostgreSQL, Django, Angular, React, React Native, Node.JS, Git, Docker, PHP, Laravel, Deployment" name="keywords">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Title Tag  -->
        <title>Londevs.com Find and Share Web Modules</title>
    
        <%= stylesheet_link_tag  'application', media: 'all' %>

        <!-- Favicon -->
        <link rel="icon" type="image/png" href="#">
        <!-- Web Font -->
        <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap" rel="stylesheet">
        
        <!-- icons library -->
        <link href="https://cdn.lineicons.com/1.0.1/LineIcons.min.css" rel="stylesheet">
        
        <!-- StyleSheet -->

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">
        
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://s3.eu-west-2.amazonaws.com/londevs.com/external_css/bootstrap.css">
        <!-- Magnific Popup -->
        <link rel="stylesheet" href="https://s3.eu-west-2.amazonaws.com/londevs.com/external_css/magnific-popup.min.css">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://s3.eu-west-2.amazonaws.com/londevs.com/external_css/font-awesome.css">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://s3.eu-west-2.amazonaws.com/londevs.com/external_css/LineIcons.css">
        <!-- Owl Carousel -->
        <link rel="stylesheet" href="https://s3.eu-west-2.amazonaws.com/londevs.com/external_css/owl-carousel.css">
        <!-- Slicknav -->
        <link rel="stylesheet" href="https://s3.eu-west-2.amazonaws.com/londevs.com/external_css/slicknav.min.css">
        <!-- Animat -->
        <link rel="stylesheet" href="https://s3.eu-west-2.amazonaws.com/londevs.com/external_css/animate.css">
        
        <!-- Londevs.com StyleSheet -->
        <link rel="stylesheet" href="https://s3.eu-west-2.amazonaws.com/londevs.com/external_css/reset.css">

        <link rel="stylesheet" href="https://s3.eu-west-2.amazonaws.com/londevs.com/external_css/style.css">

        <link rel="stylesheet" href="https://s3.eu-west-2.amazonaws.com/londevs.com/external_css/responsive.css">
        
        <!-- Color CSS -->
        <link rel="stylesheet" href="https://s3.eu-west-2.amazonaws.com/londevs.com/external_css/color/color1.css">

        <link rel="stylesheet" href="#" id="colors">
        
    </head>

   <body class="js">
   <%= render "shared/frontnavbar" %>
    <%= yield %>
    <%= render "shared/frontfooter" %>
   <!-- Hotjar Tracking Code for ai.londevs.com -->
   <script type="text/javascript">
        
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:2603649,hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');

   </script>

   <% if flash.any? %>
      <script type="text/javascript">
        <% flash.each do |key, value| %>
          <% type = key.to_s.gsub('alert', 'error').gsub('notice', 'success') %>
          toastr.<%= type %>('<%=  value %>')
        <% end %>
      </script>
   <% end %>
   <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-T9C631XPTN"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-T9C631XPTN');
  </script>
  <!-- Jquery -->
  <script src="https://s3.eu-west-2.amazonaws.com/londevs.com/external_js/jquery.min.js"></script>
  <script src="https://s3.eu-west-2.amazonaws.com/londevs.com/external_js/jquery-migrate-3.0.0.js"></script>
  <script src="https://s3.eu-west-2.amazonaws.com/londevs.com/external_js/jquery-ui.min.js"></script>
  <!-- Popper JS -->
  <script src="https://s3.eu-west-2.amazonaws.com/londevs.com/external_js/popper.min.js"></script>
  <!-- Bootstrap JS -->
  <script src="https://s3.eu-west-2.amazonaws.com/londevs.com/external_js/bootstrap.min.js"></script>
  <!-- Color JS -->
  <script src="https://s3.eu-west-2.amazonaws.com/londevs.com/external_js/colors.js"></script>
  <!-- Steller JS -->
  <script src="https://s3.eu-west-2.amazonaws.com/londevs.com/external_js/steller.js"></script>
  <!-- Slicknav JS -->
  <script src="https://s3.eu-west-2.amazonaws.com/londevs.com/external_js/slicknav.min.js"></script>
  <!-- Owl Carousel JS -->
  <script src="https://s3.eu-west-2.amazonaws.com/londevs.com/external_js/owl-carousel.js"></script>
  <!-- Magnific Popup JS -->
  <script src="https://s3.eu-west-2.amazonaws.com/londevs.com/external_js/magnific-popup.js"></script>
  <!-- Waypoints JS -->
  <script src="https://s3.eu-west-2.amazonaws.com/londevs.com/external_js/waypoints.min.js"></script>
  <!-- Wow Min JS -->
  <script src="https://s3.eu-west-2.amazonaws.com/londevs.com/external_js/wow.min.js"></script>
  <!-- Jquery Counterup JS -->
  <script src="https://s3.eu-west-2.amazonaws.com/londevs.com/external_js/jquery-counterup.min.js"></script>
  <!-- Ytplayer JS -->
  <script src="https://s3.eu-west-2.amazonaws.com/londevs.com/external_js/ytplayer.min.js"></script>
  <!-- ScrollUp JS -->
  <script src="https://s3.eu-west-2.amazonaws.com/londevs.com/external_js/scrollup.js"></script>
  <!-- Onepage Nav JS -->
  <script src="https://s3.eu-west-2.amazonaws.com/londevs.com/external_js/onepage-nav.min.js"></script>
  <!-- Easing JS -->
  <script src="https://s3.eu-west-2.amazonaws.com/londevs.com/external_js/easing.js"></script>
  <!-- Active JS -->
  <script src="https://s3.eu-west-2.amazonaws.com/londevs.com/external_js/active.js"></script>
  </body>
</html>
